<!--itslucyax-->
{% load static %}
<!-- Footer temporal - Dev 2 completará esto -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Bizkaipop</h4>
                <p>Marketplace local de Bizkaia</p>
            </div>
            
            <div class="footer-section">
                <h4>Enlaces</h4>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Aviso legal</a></li>
                    <li><a href="#">Términos de uso</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Política de Cookies</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2026 Bizkaipop. Todos los derechos reservados.</p>
        </div>
    </div>
    <div class="footer-social-wrapper">
    <h4 class="footer-social-title">Síguenos</h4>
    <div class="footer-social">
        <a href="#" aria-label="Instagram">
            <img src="../../static/img/instagram.png" alt="Instagram">
        </a>
        <a href="#" aria-label="X">
            <img src="../../static/img/Xx.png" alt="X">
        </a>
        <a href="#" aria-label="Facebook">
            <img src="../../static/img/facebook.png" alt="Facebook">
        </a>
    </div>
</div>
</footer>