{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Registrarse - Bizkaipop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  </head>
  <body>
    <div class="background"></div>
    <div class="card">
      <div class="logo-background">
        <a href="{% url 'home' %}">
          <img class="logo" src="{% static 'img/logo.png' %}" alt="Bizkaipop" />
        </a>
      </div>
      <h2>Registrarse</h2>
      <h3>¡Bienvenido!</h3>
      <form class="form" method="post">
        {% csrf_token %}
        <div class="textbox">
          <span class="material-symbols-outlined">person</span>
          <input required type="text" name="username" placeholder=" " />
          <label>Nombre de usuario</label>
        </div>
        <div class="textbox">
          <span class="material-symbols-outlined">mail</span>
          <input required type="email" name="email" placeholder=" " />
          <label>Email</label>
        </div>
        <div class="textbox">
          <span class="material-symbols-outlined">lock</span>
          <input required type="password" name="password1" placeholder=" " />
          <label>Contraseña</label>
        </div>
        <div class="textbox">
          <span class="material-symbols-outlined">lock</span>
          <input required type="password" name="password2" placeholder=" " />
          <label>Repetir contraseña</label>
        </div>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <button type="submit">Registrarse</button>
      </form>
      <footer>
        ¿Ya tienes cuenta? Inicia sesión
        <a href="{% url 'login' %}">aquí</a>
      </footer>
    </div>
  </body>
</html>
