/* ===== MAPA BASERRIS ===== */

.map-section {
    padding: 4rem 0;
    background-color: #f8faf9;
}

.map-section .section-subtitle {
    margin-bottom: 2rem;
    color: #4b5563;
}

.baserri-map {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    margin-top: 2rem;
}

#map {
    width: 100%;
    height: 400px;  
    border-radius: 16px;
}