/* ===== PRODUCT DETAIL ===== */

.product-detail-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-detail-images img {
    width: 50%;
    max-width: 400px;
    height: auto;
    margin-bottom: 1rem;
}
